.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    color: #374c59;
}

.navbar-logo img{
    height: 40px;
}

.navbar-links{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.navbar-links a{
    color: #374c59;
    text-decoration: none;
    font-weight: 500;
}

.navbar-links a:hover{
    text-decoration: underline;
}