/* OVERALL CONTAINER OF TRANSACTIONS LIST TAB*/
.user-portal .tab-content .transactions-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-gap: 10px;
  padding: 20px;
  place-items: center;
  font-family: "Spinnaker", sans-serif;
}
/*Child of transactions-list
  Sibling to .transactions-table*/
.transactions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  background-color: #374c59;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 1100px;
  max-width: 100%;
}

/*Child of transaction-wrapper*/
.transactions-table {
  border-collapse: collapse;
  border: 1px solid #374c59;
  table-layout: fixed;
  background-color: white;
  color: #374c59;
  width: 1000px;
  max-width: 100%;
  border-radius: 0.5rem;
}

.transactions-table th,
.transactions-table td {
  padding: 8px;
  border-bottom: 1px solid #374c59;
  border-radius: 0.5rem;
  text-align: center;
  word-wrap: break-word;
}

.transactions-table th {
  background-color: white;
  font-weight: bold;
}

.delete-button {
  background: none;
  color: #c62828;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
